
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&display=swap');


*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

/* header creation */

.header
{
    width: 100%;
    /* height: 80px; */
    background-color: #d6d3d3;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
}
.logo
{
    width: 10%;
    height: 80px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;

}
.nav
{
    width: 30%;
    height: 80px;
    /* background-color:blueviolet; */
}
.navlinks
{
    
    width:100%;
    height: 80px;
    list-style-type: none;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    font-family:'Montserrat', sans-serif;
    font-size: 17px;
}


/* bannner creation */

.banner
{
    width: 100%;
    height: 500px;
    background-color: #d6d3d3;
    /* padding-left:5%; */
    padding-right: 5%;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    padding: 50px 5%;
    display: flex;
    
}
.details
{
    width: 60%;
    /* background-color: white; */
    padding: 1px;
    font-family:'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}
.t1
{
    font-size: 40px;
}
.t2
{
    font-size: 60px;
    font-weight: 700;
    color: blue;
}
.ct
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 30px;
    font-size: 20px;
    color: blue;
    /* margin: 35px; */
    margin-top: 25px;
    border:  2px solid blue;
    border-radius: 10px;
    transition: 1ms;
    cursor: pointer;
}
.ct:hover
{
  background-color: blue transparent;  
  color: white;
}
.fI
{
    width: 30%;
    height: 400px;
    /* background-color: white; */
}
.im
{
    width: 60%;
    height: 300px;
    
    
    /* padding-top: 20px; */
    /* padding-left: 60px; */
    border-radius: 50px;
}

/* services section */
.services
{
    width: 100%;
    /* background-color: red; */
    padding: 30px 10%;
    
    
    
}
.section-title
{
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 30px;
    
}
.section-child
{
    width: 100%;
    background-color: white;
    padding: 20px 0px;
    margin-top: 30px;
    /* padding-left: 10px; */
    display: flex;
    column-gap: 4%;
    
    
}
.service{
    width: 22%;
    /* height: 400px; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 20px;
    font-family:'Montserrat', sans-serif;
    row-gap: 15px;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    
}
.icon
{
   padding: 50px;
   font-size: 70px;
   align-self: center;
   align-items: flex-start;
   
}
.service-btn
{
    padding: 10px 20px;
    background: #5b5bb0;
    color: white;
    border: none;
    border-radius: 10px;
}
/* achievements */

.achievements
{
    padding:30px 10%;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}

.achievement
{
    width: 18%;
    padding: 50px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.achievements-child 
{
    column-gap: 2.5%;
}

.number
{
    font-size: 45px;
    font-weight: bold;
}

.tag
{
    font-size: 18px;
}


/* quote css  */

.quote 
{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.overlay 
{
    width: 100%;
    height: 100%;
    padding: 30px 10%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
}

.quote-area
{
    width: 100%;
    padding: 30px 0px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp-email
{
    width: 70%;
    height: 60px;
    border: 2px solid white;
    font-size: 18px;
    text-indent: 20px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
}

::placeholder
{
    color: white;
}


/* clients css  */

.clients 
{
    width:100%;
    padding: 30px 10%;
    /* background-color: red; */
}

.client-section-child
{
    /* background-color: white; */
    column-gap: 5%;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
}

.client-img
{
    width: 8%;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
    
}

.client-img:hover 
{
    filter: grayscale(0);
    transform: scale(1.2);
}

/* footer css  */


.footer  
{
    width: 100%;
    padding: 30px 10%;
   background-color: #4a4a4a;
   font-family: 'Montserrat', sans-serif;
   color: white;
}



.footer-child
{
    width: 22%;
    padding: 20px 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-list
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.map 
{
    width: 46%;
    padding: 0;
}
.cta1
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 30px;
    font-size: 20px;
    color: blue;
    /* margin: 35px; */
    margin-top: 25px;
    border:  2px solid blue;
    border-radius: 10px;
    transition: 1ms;
    cursor: pointer;
}
.cta1:hover
{
    background-color: blue transparent;  
    color: white;
}
